.footer__copyraite {
  font-style: normal;
  font-weight: 400;
  color: #545454;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width:768) {
  .footer__copyraite {
    font-size: 14px;
    line-height: 17px;
  }
}
